{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <h2 class="mb-5">
        Give your feedback!
    </h2>

    {% for row in games|batch(4) %}
        <div class="row">
            {% for game in row %}
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card border shadow lift">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="font-weight-light">
                                    {{ game }}
                                </h4>
                            </div>

                            <a href="{{ path('game', { slug: game.slug }) }}"
                               class="btn btn-sm btn-primary stretched-link">
                                View
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}